#config file should be located at /etc/liverilo/server.conf
port 80
www_path /var/www/liverilo/html
#ssl cert is optional, uncomment to enable
#ssl_path /etc/liverilo/ssl
#ssl_cert_name server.crt
#ssl_key_name server.key